/* .custom-navbar-collapse {
  position:fixed; 
  background-color: #f8f9fa; 
  width: 100%;
  top: 100%; 
  left: 0;
  z-index: 1000; 

  padding: 0.5rem;
  box-shadow: 0px 5px 5px rgba(39, 134, 10, 0.1); 
} */

