
/* @media (max-width: 800px) {
    .chart-container {
      height: 100px; 
    }
  }
  

  @media (max-width: 767px) {
    .chart-container {
      height: 200px; 
    }
  } */
  
  /* @media (max-width: 767px) {
    .mobile-bar-chart canvas {
      height: 450px !important;
    }
  } */